@model GigHub.ViewModels.FollowingViewModel
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Following</h2>

<ul class="gigs">
    @foreach (var artist in Model.Followees)
    {
        <li>
            <span class="artist">
                @artist.Name
                <button class="btn btn-link btn-sm">Follow</button>
            </span>
        </li>
    }
</ul>
